h1,
h2 {
  font-weight: 700;
}
.highlight {
  background: yellow;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 0.8em;
}
.results-bar:nth-child(1) {
	background: red;
}
.results-bar:nth-child(2) {
	background: blue;
}
.results-bar:nth-child(3) {
	background: green;
}
.results-bar:nth-child(4) {
	background: orange;
}
.user-selected {
	background: black !important;
}
.user-selected::before {
	content: "You selected this one.";
	color: white !important;
}